.table-soa{
	width: 100%;
	margin: auto;
}
.table-soa, th, td {
	border: 1px solid #C0C0C0;
	text-align: center;
}
td{
	vertical-align: bottom;
	text-align: center;
}
.soa-conteiner{
	height: 80%;
  overflow : hidden;
	overflow-y :scroll;
	margin-top: 10px;
	margin-bottom: 20px;
  height : 80vh;
}
.panel-footer-soa{
	width: 100%;
	text-align: right;
	padding-right: 50px;
	background: #fff;
	border-color: #fff;
}
.ambiente:empty{
	background-color: #d9534f;
}
.fila-soa{
	background-color: rgba(209, 224, 224, 1);
}

/** css para el scroll Y **/
.soa-conteiner::-webkit-scrollbar {
width: 5px;
display : inline-block;
}
.soa-conteiner::-webkit-scrollbar-track {
border-radius: 10px;
background : #CEDAE7;
}
.soa-conteiner::-webkit-scrollbar-thumb {
border-radius: 10px;
background : #85A3C2;
}
.table-soa-sortable {
  cursor : pointer;
}
.table-soa-sortable:hover {
  color : #3385ff;
}
.diff {
  background : #66b2ff;
}
