<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="modal-dialog" style="width: 100%">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Comparar Ambientes</h3>
				</div>
				<div class="modal-body">
					<div id="ambiente1" style="width: 49%; display: inline-block"></div>
					<div id="ambiente2" style="width: 49%; display: inline-block"></div>
				</div>
					<div class="modal-footer">
						<button id="verificar" class="btn btn-primary" data-dismiss="modal">Verificar</button>
						<button id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					</div>
			</div>
		</div>
	</body>
</html>