		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
						<div class="logo">
							<img src="/img/dtv-logo.png"></img>
							<h2>DB Explorer</h2>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="contacto">
							<div class="glyphicon glyphicon-envelope">
							</div>
							<a href="mailto:env-man-support@everis.com"><h3>Soporte y Sugerencias</h3></a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
                                <div class="row ctrl-panel">
                                  <div class="col-md-2">
                                    <div class="volver">
                                            <a href="/" class="btn btn-danger glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="right" title="Volver"></a>
                                    </div>
                                  </div>
                                  <div class="col-md-8">
                                    <div class="col-xs-6">
                                      <div class="form-inline">
                                        <label for="ambiente">Ambiente</label>
                                        <select id="ambiente" class="form-control" name="ambiente">
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-xs-6">
                                      <div class="form-inline">
                                        <label for="tabla">Tabla</label>
                                        <select id="tabla" class="form-control" name="tabla">
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-2">
                                  </div>
                                </div>
				<div class="table-container" style="height : 73vh">
				</div>
				<div class="panel-footer">
				</div>
			</div>
		</div>
