<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>{{ titulo }}</h3>
				</div>
				<div class="modal-body">
					<h4>{{ texto }}</h4>
				</div>
				<div class="modal-footer">
					<button id="aceptar" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
					<button id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</body>
</html>