<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="modal-dialog" style="width : 70%">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Importar Registro</h3>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="ambiente">Ambiente</label>
						<select id="ambiente" name="ambiente" class="form-control">
						</select>
					</div>
					<div class="table-entidad-importar">
					</div>
				</div>
				<div class="modal-footer">
					<button id="importar" class="btn btn-primary" data-dismiss="modal">Importar</button>
					<button id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</body>
</html>
