<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1>Homologation Categories</h1>		
					</div>
					<div class="modal-body">
						<div action="" class="form-horizontal" role="form">
							<div class="form-group">
								<label for="nombre" class="col-lg-2 control-label">Category Name</label>
								<div class="col-lg-10"><input type="text" class="form-control" id="nombre" name="nombre" maxlength="50" value="{{ CATEGORYNAME }}"></div>
							</div>
							<div class="form-group">
                                                          <label for="canonical-category-code" class="col-lg-2 control-label">Canonical Category Code</label>
								<div class="col-lg-10">
									<input class="form-control" id="canonical-category-code" name="canonical-category-code" maxlength="60" value="{{ CANONICALCATEGORYCODE }}"/>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="aceptar" class="btn btn-primary">Aceptar</button>
						<button id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
		</div>
	</body>
</html>


	
