<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="dvm-table">
			<div class="table-container-dvm">
			</div>
			<div class="botones">
				<div>
						<a id="btn-agregar" data-toggle="modal" class="btn btn-success glyphicon glyphicon-plus btn-botonera" data-toggle="tooltip" data-placement="right" title="Agregar"></a>
					<a id="btn-modificar" class="btn btn-primary glyphicon glyphicon-pencil btn-botonera" data-toggle="tooltip" data-placement="right" title="Modificar"></a>
					<a id="btn-eliminar" class="btn btn-danger glyphicon glyphicon-trash btn-botonera" data-toggle="tooltip" data-placement="right" title="Quitar"></a>
					<a id="btn-importar" class="btn btn-primary glyphicon glyphicon-arrow-left btn-botonera" data-toggle="modal" data-toggle="tooltip" data-placement="right" title="Importar DVM existente"></a>
				</div>
			</div>
		<div>
	</body>
</html>