<div class="modal-dialog" style="width: 98%">
  <div class="modal-content">
    <div class="modal-header">
      <h3>{{job}}</h3>		
    </div>
    <div class="modal-body">
      <div class="form-horizontal" role="form">
        <div class="bar-fase" align="center">
          <div class="btn-group" id="DESA">
            <button type="button" class="btn btn-success main-btn disabled">DESA</button>
            <button type="button" class="btn btn-success dropdown-toggle toggle-btn disabled" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="siguiente-fase">Siguiente Fase</a></li>
            </ul>
            </div>
          <div class="btn-group" id="IST">
            <button type="button" class="btn btn-success main-btn disabled">IST</button>
            <button type="button" class="btn btn-success dropdown-toggle toggle-btn disabled" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="fase-anterior">Fase Anterior</a></li>
              <li><a href="#" class="siguiente-fase">Siguiente Fase</a></li>
            </ul>
            </div>
          <div class="btn-group" id="UATP">
            <button type="button" class="btn btn-success main-btn disabled">UATP</button>
            <button type="button" class="btn btn-success dropdown-toggle toggle-btn disabled" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="fase-anterior">Fase Anterior</a></li>
              <li><a href="#" class="siguiente-fase">Siguiente Fase</a></li>
            </ul>
            </div>
          <div class="btn-group" id="ISTM">
            <button type="button" class="btn btn-success main-btn disabled">ISTM</button>
            <button type="button" class="btn btn-success dropdown-toggle toggle-btn disabled" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="fase-anterior">Fase Anterior</a></li>
              <li><a href="#" class="siguiente-fase">Siguiente Fase</a></li>
            </ul>
            </div>
          <div class="btn-group" id="QAM">
            <button type="button" class="btn btn-success main-btn disabled">QAM</button>
            <button type="button" class="btn btn-success dropdown-toggle toggle-btn disabled" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="fase-anterior">Fase Anterior</a></li>
              <li><a href="#" class="siguiente-fase">Siguiente Fase</a></li>
            </ul>
            </div>
          <div class="btn-group" id="PROD">
            <button type="button" class="btn btn-success main-btn disabled">PROD</button>
            <button type="button" class="btn btn-success dropdown-toggle toggle-btn disabled" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="fase-anterior">Fase Anterior</a></li>
            </ul>
            </div>
        </div>

        <label for="proyecto">Proyecto</label>
        <input class="form-control" type="text" id="proyecto" name="proyecto" value="{{ proyecto }}" minlength="10" required="required"></input>
        <label for="descripcion">Descripcion</label>
        <textarea name="descripcion" id="descripcion" class="form-control" style="margin-bottom: 1em">{{ descripcion }}</textarea>
        <!--<div id="tabla-dvms" style="height: 230px">
          <ul class="nav nav-tabs">
            <li id="tabSistemas"><a>Sistemas</a></li>
            <li id="tabEntidades" ><a>Entidades</a></li>
            <li id="tabValoresCanonicos" ><a>Valores Canonicos</a></li>
            <li id="tabValoresSistema" ><a>Valores Sistema</a></li>
          </ul>
          <div class="tab-content" style="height: 87%">
          </div>
        </div>-->
        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              {% for tabla in tablas %}
              <!--fixme , al ser siempre el mismo valor, repite 5 veces el mismo alias hasta q pasa al sgte--> 
              <!--corregir..-->
              <a href="#" class="list-group-item tabla">{{ loop.key }}</a>
              <a href="#" class="list-group-item tabla">{{ loop.key }}</a>
              <a href="#" class="list-group-item tabla">{{ loop.key }}</a>
              <a href="#" class="list-group-item tabla">{{ loop.key }}</a>
              <a href="#" class="list-group-item tabla">{{ loop.key }}</a>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="seccion-left">
        <a href="#" class="btn btn-primary" id="verificar" data-toggle="modal">Verificar</a>
        <button class="btn btn-success" id="importar">Importar</button>
      </div>
      <div class="seccion-right">
        <button id="aceptar" class="btn btn-primary">Aceptar</button>
        <button id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
