<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1>Sistema</h1>		
    </div>
    <div class="modal-body">
      <form action="" class="form-horizontal" role="form">
        <div class="form-group">
          <label for="nombre" class="col-lg-2 control-label">Nombre</label>
          <div class="col-lg-10"><input type="text" class="form-control" id="nombre" name="nombre" maxlength="20" value="{{ NOMBRE }}"></div>
        </div>
        <div class="form-group">
          <label for="descripcion" class="col-lg-2 control-label">Descripcion</label>
          <div class="col-lg-10">
            <textarea class="form-control" id="descripcion" name="descripcion" maxlength="50">{{ DESCRIPCION }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="pais" class="col-lg-2 control-label">Pais</label>
          <div class="col-lg-10">
            <!--<input type = "text" class="form-control" id="pais" name="pais" maxlength="2" value="{{ PAIS }}"></input>-->
            <select id="pais" class="form-control">
              <option value="AR">AR</option>
              <option value="CL">CL</option>
              <option value="CO">CO</option>
              <option value="EC">EC</option>
              <option value="PE">PE</option>
              <option value="PR">PR</option>
              <option value="TT">TT</option>
              <option value="UY">UY</option>
              <option value="VE">VE</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button id="aceptar" class="btn btn-primary">Aceptar</button>
      <button id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>
  </div>
</div>
