<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="./css/table-soa-comparer.css">
	</head>
	<body>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					  <div class="col-xs-6">
						  <div class="logo">
							<img src="/img/dtv-logo.png"></img>
						    <h2>Soa Comparer</h2>
						  </div>
					  </div>
					  <div class="col-xs-6">
						  <div class="contacto">
							<div class="glyphicon glyphicon-envelope"></div>
							<a href="mailto:env-man-support@everis.com"><h3>Contacto</h3></a>
						  </div>
					  </div>
				</div>
		   </div>
			<div class="panel-body">
				  <div class="volver">
				  	<a href="/" class="btn btn-danger glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="right" title="Volver"></a>
		          </div>
				<div class="table-container">
					<table class="table-soa">
						<!--<tr>
							<th>Artefacto</th>
							<th>Particion</th>
							{%for registro in registros %}	
								<th>{{loop.key}}</th>
							{% endfor %}
							{%for registro in registros %}	
							<tr>
								<td class="artefacto">{{registro.artefacto}}</td>
								<td>{{registro.particion}}</td>
								<td>{{registro.version}}</td>
							</tr>
							{% endfor %}
						</tr>-->
					</table>
				</div>
				<div class="panel-footer">
					 <button id="aceptar" class="btn btn-success">Aceptar</button>
				     <button id="cancelar" class="btn btn-danger">Cancelar</button>
				</div>
		    </div>
		</div>
	</body>
</html>

