<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="modal-dialog" style="width: 80%">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Importar Valor Sistema</h3>
				</div>
				<div class="modal-body">
					<div style="width: 22.5%; display: inline-block; margin-left: 5px">
						<div class="form-group">
							<div style="display: inline-block; width: 33%; text-align: right">
								<label for="ambiente">Ambiente</label>
							</div>
							<div style="display: inline-block; width: 64%">
								<select id="ambiente" name="ambiente" class="form-control">
								</select>
							</div>
						</div>
					</div>
					<div style="width: 22.5%; display: inline-block; margin-left: 5px">
						<div class="form-group">
							<div style="display: inline-block; width: 33%; text-align: right">
								<label for="pais">Pais</label>
							</div>
							<div style="display: inline-block; width: 64%">
								<select id="pais" name="pais" class="form-control">
								</select>
							</div>
						</div>
					</div>
					<div style="width: 22.5%; display: inline-block; margin-left: 5px">
						<div class="form-group">
							<div style="display: inline-block; width: 33%; text-align: right">
								<label for="id-sistema">Sistema</label>
							</div>
							<div style="display: inline-block; width: 64%">
								<select id="id-sistema" name="id-sistema" class="form-control">
								</select>
							</div>
						</div>
					</div>
					<div style="width: 22.5%; display: inline-block; margin-left: 5px">
						<div class="form-group">
							<div style="display: inline-block; width: 33%; text-align: right">
								<label for="id-entidad">Entidad</label>
							</div>
							<div style="display: inline-block; width: 64%">
								<select id="id-entidad" name="id-entidad" class="form-control">
								</select>
							</div>
						</div>
					</div>
					<div class="table-valor-sistema-importar">
					</div>
				</div>
				<div class="modal-footer">
					<button id="importar" class="btn btn-primary" data-dismiss="modal">Importar</button>
					<button id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</body>
</html>