<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="modal-dialog" style="width: 70%">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Script</h3>
				</div>
				<div class="modal-body" style="height: 56vh">
					<div>
						<ul class="nav nav-tabs">
						  <li id="deploy"><a>Deploy</a></li>
						  <li id="rollback" ><a>Rollback</a></li>
						</ul>
						<div class="tab-content">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="cancelar" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</body>
</html>