<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<script type="text/template" id="verificar-job-template">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Verificar Job</h3>
					</div>
					<div class="modal-body">
						<div class="table-content">
						</div>
					</div>
					<div class="modal-footer">
						<button id="exportar" class="btn btn-primary" data-dismiss="modal">Exportar Script</button>
						<button id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</script>
	</body>
</html>